Source: selenium-node
Maintainer: SIOS Technology Corp. <support@us.sios.com>
Section: java
Priority: optional
Build-Depends: libx11-6, libnss3, libnspr4, libgconf-2-4, libfontconfig1, libfreetype6, debhelper (>= 9), javahelper (>=0.54), dh-systemd
Standards-Version: 3.9.7
Homepage: https://github.com/siostechcorp/selenium-grid
Vcs-Git: https://github.com/siostechcorp/selenium-grid.git
Vcs-Browser: https://github.com/siostechcorp/selenium-grid

Package: selenium-node
Architecture: amd64
Section: java
Priority: optional
Depends: ubuntu-desktop, google-chrome-stable (>= 58.0), firefox (>= 53.0), openjdk-8-jre, ${java:Depends}, ${misc:Depends}
Conflicts: selenium-node-headless
Description: Selenium GRID - Node
 Installs the Selenium server with -role node
 Will install the Google WebDriver and Gecko WebDriver.
