Source: selenium-node-headless
Maintainer: SIOS Technology Corp. <nextgen-eng@us.sios.com>
Section: sios
Priority: optional
Build-Depends: debhelper (>= 9), dh-systemd

Package: selenium-node-headless
Architecture: amd64
Section: sios
Priority: optional
Depends: google-chrome-stable (>= 52.0), firefox (>= 48.0), xvfb, selenium-xvfb, openjdk-8-jre-headless, ${misc:Depends}
Conflicts: selenium-node
Description: Selenium Grid - NODE
 Installs the Selenium server with -role node
 Will install the Selenium Google WebDriver and Gecko WebDriver. Using
 the Xvfb framebuffer for headless.
