[Unit]
Description="Selenium NODE server"
After=network.target selenium-xvfb.service

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /usr/sbin/selenium-server-node.jar -role node -nodeConfig /etc/default/selenium-nodeConfig.json

[Install]
WantedBy=multi-user.target
