[Unit]
Description="Selenium HUB server"

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /usr/sbin/selenium-server-hub.jar -role hub

[Install]
WantedBy=multi-user.target
